{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <script src="{% static 'sales/home.js' %}"  defer></script>
{% endblock scripts %}
{% block title %}
sales report
{% endblock title %}
{% block content %}

{{h}}
<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary mt-4">search</button>
</form>
<br>
{% if sales_df %}
sales
    {{sales_df|safe}} 
    <br>
    position
    {{ positions_df|safe }}
    <br>
    merged
    {{ merged_df|safe}}
    <br>
    {{df|safe}}
    <br>
    <img src="data:image/pmg;base64, {{chart|safe}}" id='img'>
   
{% else %}
    <h3>no data</h3>
    
{% endif %}
<button class="btn btn-primary not-visible" id="report-btn">add report</button>
{% endblock content %}